snippet _vue-options
	<script lang="ts">
	import { defineComponent } from "vue"
	
	export default defineComponent({})
	</script>

	<template>
		<div>
			${0}
		</div>
	</template>

	<style module lang="scss">
	//
	</style>

snippet _vue-setup
	<script setup lang="ts">
	</script>

	<template>
		${0}
	</template>

	<style module lang="scss">
	//
	</style>

	<i18n lang="yml">
	ru:
		
	</i18n>
